<div class="row">
    <div *ngIf="product" class="col-6 offset-3 mt-5">
        <form #productForm="ngForm" (ngSubmit)="setProductToDatabase(product)">
            <div *ngIf="!updating" class="form-group">
                <h2 *ngIf="product.id==0" class="card-title">Create new product</h2>
                <h2 *ngIf="product.id!=0" class="card-title">Edit product</h2>
                <label for="product">#</label>
                <input [(ngModel)]="product.id" id="product" name="product" type="number" class="form-control"
                    disabled />
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input name="name" [(ngModel)]="product.name" type="text" class="form-control pl-3"
                    pattern="[A-ZÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ](.{3,99})" required />
                <div [hidden]="
              productForm.controls.name?.valid ||
              productForm.controls.name?.pristine
            " class="error-message">
                    Must be between 4-100 characters and must start with a capital letter.
                </div>
            </div>

            <div class="form-group">
                <label for="type">Type</label>
                <select [(ngModel)]="product.type" class="form-control" style="cursor: pointer" id="type" name="type" required>
                    <option value="biographical">biographical</option>
                    <option value="fiction">fiction</option>
                </select>

                <div [hidden]="
          productForm.controls.type?.valid ||
          productForm.controls.type?.pristine
        " class="error-message">
                    You must select one of the types.
                </div>
            </div>

            <div class="form-group">

                <label for="catID">CatID</label>
                <input [(ngModel)]="product.catID" id="catID" name="catID" type="number" class="form-control" required
                    pattern="[1-9]\d?" autofocus />

                <div [hidden]="
          productForm.controls.catID?.valid ||
          productForm.controls.catID?.pristine
        " class="error-message">
                    You must enter a valid value.
                </div>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input name="description" [(ngModel)]="product.description" type="text" class="form-control pl-3"
                    pattern="[A-ZÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ](.{3,99})" required />
                <div [hidden]="
              productForm.controls.description?.valid ||
              productForm.controls.description?.pristine
            " class="error-message">
                    Must be between 4-100 characters and must start with a capital letter.
                </div>
            </div>

            <!-- <div class="form-group">
                <label for="image">Image</label>
                <input name="image" [(ngModel)]="product.image" type="text" class="form-control pl-3"
                    pattern="^[A-Za-z\x{00C0}-\x{00FF}][A-Za-z\x{00C0}-\x{00FF}\'\-]+([\ A-Za-z\x{00C0}-\x{00FF}][A-Za-z\x{00C0}-\x{00FF}\'\-]+)*/u"
                    required />
                <div [hidden]="
              productForm.controls.image?.valid ||
              productForm.controls.image?.pristine
            " class="error-message">
                    You must enter a valid description.
                </div>
            </div> -->

            <div class="form-group">
                <label for="price">price</label>
                <input name="price" [(ngModel)]="product.price" type="number" class="form-control" required>
                <div [hidden]="productForm.controls.price?.valid || productForm.controls.price?.pristine"
                    class="error-message">
                    Price is required and can only be a number.
                </div>
            </div>

            <div class="form-group">
                <label class="mr-2" for="featured">Featured</label>
                <input class="regular-checkbox" name="featured" [(ngModel)]="product.featured" type="checkbox">
            </div>
            <div class="form-group">
                <label class="mr-2" for="active">Active</label>
                <input class="regular-checkbox" name="active" [(ngModel)]="product.active" type="checkbox">
            </div>

            <button [disabled]="productForm.invalid || updating" type="submit" class="btn btn-block btn-info">
                <i *ngIf="!updating" class="fa fa-save"></i>
                <i *ngIf="updating" class="fa fa-refresh"></i>
            </button>
        </form>
    </div>
</div>